.control-panel {
  display: flex;
  flex-direction: column;
  background-color: @black;
  opacity: 0.6;

  @media (min-width: @tablet-width) {
    position: relative;
    height: 93px;
  }
}

.control-panel__range-field {
  height: 45px;

  @media (min-width: @tablet-width) {
    height: auto;
  }
}

.control-panel__buttons-field {
  display: flex;
  justify-content: space-between;
  background-color: @anti-flash-white;
  height: 66px;

  @media (min-width: @tablet-width) {
    background-color: @black;
    opacity: 0.6;
    height: auto;
  }
}

.control-panel__path {
  @media (max-width: @mobile-width-only) {
    fill: @shuttle-gray;
  }
}

.control-panel__bar {
  width: 80%;
  height: 3px;
  background-color: @white;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    width: 67%;
  }
}

.control-panel__toggle {
  width: 13px;
  height: 13px;
  background-color: @white;
  border-radius: 50%;
  cursor: pointer;
}
