.contacts__legend {
  padding: 0;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 72px;
  }
}

.contacts__list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.contacts__item {
  &:not(:last-child) {
    @media (max-width: @mobile-width-only) {
      margin-bottom: 14px;
    }

    @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
  }
}
