.control-panel {
  position: absolute;
  bottom: -66px;
  width: calc(100% - 40px);
  left: 0;
  right: 0;
  margin: auto;
  background-color: @black;
  opacity: 0.6;

  @media (min-width: @tablet-width) {
    position: relative;
    height: 93px;
    bottom: 93px;
    width: 100%;
  }
}

.control-panel__range-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;

  @media (min-width: @tablet-width) {
    height: auto;
  }
}

.control-panel__scale {
  width: 100%;
}

.control-panel__buttons-field {
  display: flex;
  justify-content: space-between;
  background-color: @anti-flash-white;
  height: 66px;

  @media (min-width: @tablet-width) {
    background-color: @black;
    opacity: 0.6;
    height: auto;
  }
}

.control-panel__path {
  @media (max-width: @mobile-width-only) {
    fill: @shuttle-gray;
  }
}

.control-panel__bar {
  margin: 0 auto;
  width: 80%;
  height: 3px;
  background-color: @white;
  opacity: 0.2;

  @media (min-width: @tablet-width) {
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    width: 67%;
  }
}

.control-panel__toggle {
  position: absolute;
  left: 100px;
  width: 13px;
  height: 13px;
  background-color: @white;
  border-radius: 50%;
  cursor: pointer;
}
