.emotions__legend {
  padding: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  &--accented {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &::before {
        content: "";
        width: 123px;
        height: 1px;
        background-color: @legend-line;
      }

      &::after {
        content: "";
        width: 123px;
        height: 1px;
        background-color: @legend-line;
      }
    }

    @media (min-width: @desktop-width) {
      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 55px;
  }
}

.emotions__text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  background-color: @anti-flash-white;
  border: none;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  padding: 13px 23px 29px 21px;
}
