.emotions {
  @media (max-width: @mobile-width-only) {
    margin-top: 20px;
    margin-bottom: 51px;
  }
}

.emotions__text {
  font-size: 18px;
  font-weight: bold;
  background-color: @anti-flash-white;
  border: none;
}
