.features__wrapper {
  background-color: @bright-gray;
}

.features__wrapper--blue {
  background-color: @dark-sky-blue;
}

.features__item--img {
  color: @white;
}

.features__slogan {
  font-size: 21px;
  font-weight: bold;
}

.features__subtitle {
  color: @dark-charcoal;
}

.features__title {
  font-size: 21px;
  font-weight: bold;
}

.features__number {
  line-height: 21px;
}

.features__description {
  line-height: 21px;
}

.town-features {
  background-color: @white;
}

.town-features__title {
  font-size: 21px;
  font-weight: bold;
  color: @black;
}

.town-features__description {
  color: @dark-charcoal;
}
