.features {
  outline: 2px solid rgba(10, 96, 226, 0.8);
  outline-offset: -2px;
}

.features__wrapper {
  background-color: @bright-gray;
}

.features__wrapper--blue {
  background-color: @dark-sky-blue;
  color: @white;
}

@media (min-width: @tablet-width) {
  .features__item--img {
    display: grid;

    &:nth-child(1) {
      grid-template-areas: "wrapper picture picture" "town town town";
    }

    &:nth-child(2) {
      grid-template-areas: "picture picture wrapper";
    }
  }

  .features__picture {
    &:nth-child(2) {
      background-image: url("../img/photo-bridge.png");
    }

    &:nth-child(3) {
      background-image: url("../img/photo-city.png");
    }
    grid-area: picture;
  }
}

.features__slogan {
  font-size: 21px;
  font-weight: bold;
}

.features__subtitle {
  color: @dark-charcoal;
}

.features__title {
  font-size: 21px;
  font-weight: bold;
}

.features__number {
  line-height: 21px;
}

.features__description {
  line-height: 21px;
}

.town-features {
  background-color: @white;
}

.town-features__title {
  font-size: 21px;
  font-weight: bold;
  color: @black;
}

.town-features__description {
  color: @dark-charcoal;
}
