.form-review {
  display: flex;
  flex-direction: column;
  align-items: start;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-review__item {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  outline: 2px solid rgba(35, 226, 10, 0.8);
  outline-offset: -2px;

  &--fullname {
    @media (max-width: @mobile-width-only) {
      margin-top: 20px;
      margin-bottom: 25px;
    }

    @media (min-width: @tablet-width) {
      order: 2;
    }
  }

  &--contacts {
    @media (max-width: @mobile-width-only) {
      margin-top: 20px;
      margin-bottom: 25px;
    }

    @media (min-width: @tablet-width) {
      order: 3;
      grid-column: span 2;
    }
  }

  &--impression {
    @media (max-width: @mobile-width-only) {
      margin-top: 20px;
      margin-bottom: 31px;
    }

    @media (min-width: @tablet-width) {
      order: 1;
    }
  }

  &--sightseens {
    @media (max-width: @mobile-width-only) {
      margin-top: 15px;
      margin-bottom: 30px;
    }

    @media (min-width: @tablet-width) {
      order: 4;
      grid-column: span 2;
    }
  }

  &--emotions {
    @media (max-width: @mobile-width-only) {
      margin-top: 20px;
    }

    @media (min-width: @tablet-width) {
      order: 5;
      grid-column: span 2;
    }
  }
}

.form-review__title {
  padding: 0;
  font-size: 18px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    font-weight: bold;
  }

  &--fullname {
    margin-bottom: 19px;

    @media (min-width: @tablet-width) {
      margin-bottom: 55px;
    }
  }

  &--contacts {
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      margin-bottom: 21px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 72px;
    }
  }

  &--impression {
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      margin-bottom: 55px;
    }
  }

  &--sightseens {
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      margin-bottom: 48px;
    }
  }

  &--emotions {
    margin-bottom: 28px;

    @media (min-width: @tablet-width) {
      margin-bottom: 55px;
    }
  }
}

.form-review__send {
  margin-top: 51px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-around;
    order: 6;
    grid-column: span 2;
    margin-top: 77px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 58px;
  }
}

.form-review__footnote {
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
