.general-section {
  outline: 2px solid rgba(10, 96, 226, 0.8);
  outline-offset: -2px;
  text-align: center;

  &--form {
    margin: 36px auto 16px;
    max-width: 306px;

    @media (min-width: @tablet-width) {
      margin: 65px auto 62px;
      max-width: 435px;
    }

    @media (min-width: @desktop-width) {
      margin: 113px auto 57px;
    }
  }

  &--gallery {
    margin: 24px auto 12px;
    max-width: 299px;

    @media (min-width: @tablet-width) {
      margin: 59px auto;
      max-width: 458px;
    }

    @media (min-width: @desktop-width) {
      margin: 101px auto 66px;
    }
  }
}

.general-section__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.general-section__subtitle {
  margin: 0;
  padding: 0;
  line-height: 24px;
}
