.map {
  background-image: url("../img/index/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/map@2x.jpg");
  }
}
