.modal {
  position: absolute;
  text-align: center;
  width: @mobile-width;
  left: calc(50% - @mobile-width / 2);
  right: 0;
  bottom: 349px;
  background-color: @white;
  box-shadow: 0 5px 15px 0 rgba(@black, 0.2);

  @media (min-width: @tablet-width) {
    bottom: 343px;
  }

  @media (min-width: @desktop-width) {
    bottom: 502px;
  }

  &--failure {
    @media (min-width: @tablet-width) {
      width: 400px;
      left: calc(50% - 200px);
    }
  }

  &--success {
    @media (min-width: @tablet-width) {
      width: 640px;
      left: calc(50% - 320px);
    }
  }
}

.modal__info {
  &--failure {
    & .modal__title {
      @media (min-width: @tablet-width) {
        line-height: 40px;
      }
    }
    padding: 40px 42px 0;

    @media (min-width: @tablet-width) {
      padding: 44px 46px 14px;
    }
  }

  &--success {
    padding: 30px 38px 14px;

    @media (min-width: @tablet-width) {
      padding: 44px 46px 14px;
    }
  }
}

.modal__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.modal__description {
  margin: 0;
  line-height: 24px;
}

.modal__close {
  &--failure {
    padding: 22px 70px 35px;

    & .modal__button {
      width: 180px;

      @media (min-width: @tablet-width) {
        width: 272px;
      }
    }

    @media (min-width: @tablet-width) {
      padding: 27px 64px 50px;
    }
  }

  &--success {
    padding: 20px;
    background-color: @anti-flash-white;

    & .modal__button {
      width: 280px;

      @media (min-width: @tablet-width) {
        width: 458px;
      }
    }

    @media (min-width: @tablet-width) {
      padding: 44px 90px;
    }
  }
}

.modal__button {
  font-size: 18px;
  height: 58px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}
