.page-header {
  display: flex;
  flex-direction: column;
  background-image: url("../img/intro.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 389px;

  @media (min-width: @tablet-width) {
    height: 518px;
  }
}

.page-header__logo {
  display: flex;
  position: relative;
  justify-content: center;

  @media (min-width: @desktop-width) {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background-image: url("../img/logo-vector.svg");
      background-repeat: no-repeat;
    }

    width: 196px;
    height: 96px;
  }
}
