.page {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: @black;
}

.page__container {
  margin: 0;
  min-width: 320px;
}

@media (min-width: @tablet-width) {
  .page__container {
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page__container {
    margin: 0 auto;
    width: @desktop-width;
  }
}
