.page-header {
  display: flex;
  flex-direction: column;
  background-image: url("../img/intro.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 389px;

  @media (min-width: @tablet-width) {
    height: 518px;
  }
}

// .page-header__logo {
//   outline: 2px solid rgba(0, 255, 0, 0.8);
//   outline-offset: -2px;
// }
