.page__body {
  font-family: "PT Sans", "Optima", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: @black;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: @mobile-width;
  background-color: @platinum-bg;

  @media (max-width: @mobile-width-only) {
    background-color: @white;
  }
}

.page__container {
  position: relative;
  background-color: @white;
  margin: auto;
  max-width: @desktop-width;

  @media (max-width: @mobile-width-only) {
    width: @mobile-width;
  }

  @media (min-width: @desktop-width) {
    box-shadow: 0 5px 15px 0 rgba(@black, 0.2);
  }
}
