.picture-item__title {
  line-height: 24px;
  font-weight: bold;
  color: @white;
}

.picture-item__author {
  line-height: 24px;
  color: @white;
}

.picture-item__likes {
  line-height: 24px;
  font-weight: bold;
  color: @white;
}
