// .search {
//   outline: 2px solid rgba(10, 96, 226, 0.8);
//   outline-offset: -2px;
// }

.search__title {
  font-style: 30px;
  font-weight: bold;
}

.search__description {
  line-height: 24px;
  color: @dark-charcoal;
}
