.sightseens__legend {
  padding: 0;
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  &--accented {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &::before {
        content: "";
        width: 123px;
        height: 1px;
        background-color: @legend-line;
      }

      &::after {
        content: "";
        width: 123px;
        height: 1px;
        background-color: @legend-line;
      }
    }

    @media (min-width: @desktop-width) {
      &::before {
        width: 280px;
      }

      &::after {
        width: 280px;
      }
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 48px;
  }
}

.sightseens__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px 44px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.sightseens__item:not(:last-child) {
  @media (max-width: @mobile-width-only) {
    margin-bottom: 34px;
  }
}
