.town-features {
  background-color: @white;
}

.town-features__title {
  font-size: 18px;
  font-weight: bold;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.town-features__description {
  color: @dark-charcoal;
}

.town-features--features {
  order: 2;
  @media (min-width: @tablet-width) {
    grid-column: span 3;
  }
}

.town-features__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
